{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}MIT {% endblock title %}
{% block main %}
  {% include 'layout/dnavbar.html' %}

<div class="container mt-1">
    <div class="row d-flex align-items-center justify-content-center ">
    <div class="col-md-6 p-5">
      {% include 'login/message.html' %}

        <h4 class="mb-2 text-dark">EVENT ANNOUNCEMENT</h4>
        <form method='POST'  enctype="multipart/form-data">
   
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">EVENT_IMG</label>
                <input type="file" name="event_img" required class="form-control-sm form-control" accept=".png, .jpg" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">EVENT_NAME</label>
              <input type="text" name="eventname"  required  class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">EVENT_ISSUSES</label>
              <input type="text" name="issuses"  required  class="form-control form-control-sm" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">DESC</label>
              <textarea class="form-control form-control-sm"  required  name="event_desc" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">EVENT</label>
              <select class="form-select form-select-sm"  required  name ="event" aria-label="Default select example">
               
                
                <option value="EVENT CANCELED">EVENT CANCELED</option>
                <option value="EVENT POSTPONED">EVENT POSTPONED</option>
              </select>
            </div>
          <input type="submit" class="btn btn-dark w-100" value="SUBMIT">
        </form>  

     </div> 
     <div class="col-md-6">
       

     <img src="{% static 'images/alert.jpg' %}" class="img-fluid p-5">

     </div>   
      
    </div>
  </div>


{% endblock main %}



