{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}MIT {% endblock title %}
{% block main %}
  {% include 'layout/dnavbar.html' %}

<div class="container">
    <div class="row d-flex align-items-center justify-content-center ">
      
      <div class="col-md-6 px-5">
        <img src="{% static 'images/upload.png' %}" class="img-fluid">
      </div>  
   
    <div class="col-md-6 px-5">

            {% include 'login/message.html' %}

        <h3 class="mb-3"> CREATE FOLDER </h3>

        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">YEAR:</label>
                <input type="number" autocomplete="off" placeholder="2023" name="year" class="form-control" id="exampleFormControlInput1" required >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">DESCRIPTION:</label>
                <textarea class="form-control" placeholder="college name" name="desc" id="exampleFormControlTextarea1" rows="3" required></textarea>
              </div>
              <input type="submit" class="btn btn-dark w-100 mb-2" value="CREATE FOLDER">
        </form>
        <a href="uploadfile">upload events</a> 
    </div>
   
      
    </div>
  </div>


{% endblock main %}



